@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-font: 'Inter';
    --primary-color: #17669a;
    --secondary-color: #182531;
    --third-color: #ed9b0d;
    --accent-color: #e74c3c;
    --bg-color: #ecf0f1;
    --text-color: #333;
}

* {
    font-family: var(--main-font), Arial, sans-serif;
}

body {
    font-family: var(--main-font), Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container,.containerindex {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.container hr{
        border:1px solid #3498db;
    }

.containerindex h2 {
    font-size: xx-large;
}
    
.containerindex section:hover {
    transition: 0.2s;
    transform: scale(1.01);
}

.containerindex section{
    background-color: white;
    padding:5vh;
    margin-bottom: 5vh;
    border-radius: 3vh;
    box-shadow: 0px 0px 20px -15px #333;
    transition: 0.2s;}

header {
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

header h1{
    color:white;
}

.mainheader h1{
    font-size:10vh;
}

.mainheader nav {
    font-size:large;
}

.mainheader img{
    display:block;
    margin:0 auto;
    width:100%;
    height:50vh;
    object-fit: cover;
}

.mainheader {
    background-image: radial-gradient(ellipse at bottom, var(--secondary-color), var(--primary-color));
    background-size: 400% 400%;
    padding: 2vh;

    -webkit-animation: BgMove 11s ease infinite;
    -moz-animation: BgMove 11s ease infinite;
    animation: BgMove 11s ease infinite;
    animation: MoveUp 0.5s ease-in-out
}

@-webkit-keyframes BgMove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BgMove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BgMove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes MoveUp {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 100;
    }
}

nav {
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    padding: 1vh;
    color: white;
    text-decoration: none;
    border-radius: 1vh;
    transition:0.07s ease-in-out;
}

nav ul li a:hover {
    background-color: white;
    color:var(--secondary-color);
    transition:0.07s ease-in-out;
}

.mainheader nav {
    background-color: transparent;
}

main {
    padding: 20px;
}

footer {
    background-color: var(--secondary-color);
    position: relative;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom:0;
    width: 100%;
}

h1, h2, h3 {
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

.articles-home{
    display:flex;
    flex-wrap: wrap;
    gap:2vh;
}

.articles-home article {
    flex:1 1 10%;
}

.articles-home img {
    width:100%;
    height:20vh;
    object-fit: cover;
}

.articles-home h3 {
    text-align: center;
    height:8vh;
}

.login-form{
    display:block;
    margin:0 auto;
    font-size: larger;
}


input[type="text"], input[type="password"], input[type="email"], textarea, select {
    width:100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.dashboard {
    max-width: 600px;   
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.admin-button-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.dashboard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-weight: bold;
    font-size: x-large;
}

.dashboard-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.025);
}

/* Styling for when there are 3 buttons */
.button-grid.three-buttons {
    grid-template-areas: 
        "button1 button2"
        "button3 button3";
}

.button-grid.three-buttons .dashboard-button:nth-child(3) {
    grid-area: button3;
    justify-self: center;
}

.management-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
}

#manage-students, #manage-teachers {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Styles for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

/* Styles for forms */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

.articles_list_page {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1vh;

}

.articles_list_page>*{
    flex: 20%;
}

.articles_list_page article {
    background-color: white;
    padding:2vh;
    width:70%;
    box-shadow: 0px 0px 20px -15px #333;
    border-radius: 2vh;
}

.articles_list_page h3 {
    text-align: center;
}

.articles_list_page img {
    display:grid;
    grid-template-columns: 2fr 2fr;
    width:100%;
    height:25vh;
    object-fit: cover;
}

.articles_list_page a {
    background-color: #17669a;
    text-decoration: none;
    display: block;
    margin:0 auto;
    text-align: center;
    color:white;
    width:70%;
    padding:1vh;
    border-radius: 1vh;
}

.articles_list_page article {
    transition:0.1s;
}

.articles_list_page article:hover {
    transition:0.1s;
    transform:scale(1.05)
}

.articles_page_title {
    text-align: center;
}

.edit-input{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:5vh;
}

.edit-btn {
    display:block;
    margin: 0 auto;
    margin-top:5vh;
    font-size:larger;
    padding: 2vh;
    width:50vh;
}

.warning {
    color:white; 
    text-align:center; 
    background-color: red; 
    width:50%; 
    display:block; 
    margin: 0 auto; 
    margin-top: 5vh; 
    padding:2vh; 
    border-radius: 2vh; 
    box-shadow: 0px 0px 20px -10px #333
}

.article{
    margin-left:10vh;
    margin-right:10vh;
}

.article img {
    width:100vh;
    height:50vh;
    object-fit: cover;
}

.readmore{
    padding:1vh;
    background-color: var(--primary-color);
    text-decoration: none;
    color:white;
    transition: 0.1s;
    border-radius: 0.5vh;
}

.readmore:hover{
    transition: 0.1s;
    background-color: var(--secondary-color);
    color:white;
}

.articlerender {
    display: block;
    margin: 0 auto;
    padding:3vh;
    background-color: #fff;
    width:60%;
}

.articlerender img {
    width: 100%;
}