<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Grades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
</head>
<body>
    <header>
        <h1>Your Grades</h1>
        <nav>
            <ul>
                <li><a href="{{url_for('dashboard')}}">&larrhk; Return Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h2>Grades</h2>
        <table>
            <thead>
                <tr>
                    <th>Grade</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade['grade'] }} / 20</td>
                    <td>{{ grade['author'] }}</td>
                    <td>{{ grade['date'] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">No grades available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <p>© 2024 Our School. All rights reserved.</p>
    </footer>
</body>
</html>
